<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span> {{hero.id}}</div>
  <div><span>name: </span> {{hero.name}}</div>
  <div>
    <label>name:
      <input placeholder="name" [(ngModel)]="hero.name">
    </label>
  </div>
  <button (click)="goBack()">Go Back</button>
  <button (click)="save()">save</button>
</div>